.container {
  margin-bottom: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.poster {
  cursor: pointer;
  height: 225px;
  width: 150px;
  margin: 0 auto;
  border-radius: 3%;
}

.card {
  margin: 1rem;
  padding: 0.5rem 0.5rem 4rem;
  width: 170px;
  height: 300px;
  display: inline-block !important;
  vertical-align: top;
}

.vote {
  position: absolute;
  background-color: #003566;
  border: 4px #ffc300 solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voteText {
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.title {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.date {
  color: rgb(150, 150, 150);
}

.adult {
  position: absolute;
  color: #fff;
  font-weight: 600;
  background-color: #000;
  border: 4px #d42448 solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avaliacao img {
  display: flex;
  justify-content: center;
}

.avaliacao label {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 14px;
}
.avaliacao span {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
}
