.navbar{
    background-color: white;
}

.navbar-brand{
    justify-content: flex-start;
}
.nav-link{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000814 !important;
}

.logo{
    background-size: contain;
    height: 50px;
    width: 50px;
    background-image: url('../../assets/images/logo.png');
}

@media (max-width: 676px) {
    .logo{
        background-image: none;
    }
}

span{
    padding-right: 10px;
}
