.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #000814;
  height: 50px;
  width: 50px;
  margin: 40px auto;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

#wrapper {
  min-height: 100%;
  position: relative;
}

div.body-content {
  min-height: 100vh;
  padding-bottom: 150px;
}

@media (max-width: 767px) {
    div.body-content{
        padding-bottom: 230px;
    }
}